<!DOCTYPE html>
<html>

<head>
  <title>Betwork</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
  </br>
    <div id="balance">
      Balance: $<%= current_user.balance %>
    </div>
    <%= image_tag(current_user.profile_image_url)%>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>

<%= get_charts.each do |chart| %>
  <div id="<%= chart['subjectName'] %>-container">
    <div id="<%= chart['subjectName'] %>Chart" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>
    <div id="ownership-<%= chart['subjectName'] %>">
      <% if investments = get_ownership(chart["subjectName"], chart["valueType"], chart["events"].last["value"]) %>
        <%= investments %>
      <% else %>
        no ownership
      <% end %>
    </div>
    <button class="btn btn-bet" data-id="<%= chart['subjectName'] %>" data-value-type="<%= chart['valueType'] %>", data-value= <%= chart['events'].last["value"]%>, data-price="1">Invest</button>
  </div>
<% end %>

<% if current_user %>
  <script>
    $(function() {
        $('.btn-bet').click(function() {
          $.ajax({
            url:  "users",
            type: 'POST',
            data: {
              subjectName: $(this).data('id'),
              valueType: $(this).data('value-type'),
              value: $(this).data('value'),
              price: $(this).data('price'),
              userId: "<%= current_user.id %>"
            },
            dataType: 'json',
            accepts: 'json',
            success: function(data, status) {
              console.log('success');
              console.log(data);
              $('#balance').text("Balance: $" + data.new_balance);
              $('#ownership-' + data.subjectName).text("Ownership: $" + data.new_ownership);

            },
            error: function(jqXHR, status, error) {
              console.log('error');
              console.log(error);
            }
          });
        });

      });
  </script>
<% end %>

<script src="/app/assets/javascripts/samplechart.js"></script>


<%= yield %>

</body>
</html>
